<div class="list_container">

    <div class="section--header">

      <div class="section--header__title">Contacts</div>

      <div class="input_field">
        <input
              type="text"
              placeholder="Search"
              class="input_field--input"
              #term
              (keyup)="searchContact(term.value)">

      </div>
    </div>

    <div class="list_container--content" *ngIf="contactsArrFiltered">

        <div class="contact_item" *ngFor="let contact of contactsArrFiltered" [routerLink]="'detail/' + contact.id">
            {{ contact.name }}
        </div>

    </div>

    <div class="list_container--add_button">
      <button [routerLink]="'new'">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>

</div>
