// @import 'ngx-toastr/toastr'
  // @import 'ngx-toastr/toastr';
  // @import 'bootstrap/scss/functions'
  // @import 'bootstrap/scss/variables'
  // @import 'bootstrap/scss/mixins'
  // @import 'ngx-toastr/toastr-bs4-alert'

  // @import 'ngx-toastr/toastr-bs4-alert'


  /* You can add global styles to this file, and also import other style files */
*, html, body
  margin: 0
  padding: 0


.section--header
    display: block
    margin-top: 10px
    .section--header__title
      color: #6a73ef
      font-weight: bold
      font-size: 24px
      font-weight: bold
      margin-bottom: 4px

.sub-section--header
  display: block
  margin-top: 20px
  .sub-section--header__title
    color: #6a73ef
    font-weight: bold
    font-size: 19px
    font-weight: bold
    margin-bottom: 15px

.input_field
  margin: 15px 0
  display: flex
  align-items: center
  flex-wrap: wrap

.input_field--title
  color: #dadada
  margin-right: 10px

.input_field--input
  outline: 0px
  border: none
  width: 92%
  border: 1px solid #949494
  padding: 5px
  border-radius: 3px
  background: #6f6f6f
  color: white

::-webkit-input-placeholder
  color: #a1a1a1


